[submodule "xmarts/credit_limit_alert_update"]
	path = xmarts/credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = v3

[submodule "xmarts/monitoring_control"]
	path = xmarts/monitoring_control
	url = git@github.com:xmarts/monitoring_control.git
	branch = master

[submodule "xmarts/xmarts_sales_process"]
	path = xmarts/xmarts_sales_process
	url = git@github.com:xmarts/xmarts_sales_process.git
	branch = master
[submodule "xmarts_validate_purchase"]
	path = xmarts_validate_purchase
	url = git@github.com:xmarts/xmarts_validate_purchase.git
